{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %} Edit "{{ post['title'] }}"{% endblock %}</h1>
{% endblock % }

{% block content %}
  <form method="post">
    <label for="title">Title</label>
    <input name="title" id="title"
        value="{{ request.form['title'] or post['title']}}" required> <!-- “If the user submitted something, use that. Otherwise, use the existing post title.” It's a fallback mechanism. -->
    <label for="body">Body</label>
    <textarea name="body" id="body">{{ request.form['body'] or post['body'] }}</textarea>
    <input type="submit" value="Save">
  </form>
  <hr>

  <!--action="'{{ url_for('blog.delete', id_post['id']) }}" generates the correct URL dynamically -->
  <form action="'{{ url_for('blog.delete', id_post['id']) }}" method="post"> <!-- Send a POST request to the delete route for this specific post.-->
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');"> <!--  onclick="return confirm('Are you sure?'); that;s JS-->
  </form>
{% endblock % }