html { /* Targets the entire Html document. */
    font-family: sans-serif; /* Default font for the whole page. */
    background: #eee; 
    padding: 1rem; /* Space between the browser edge and the page content */
  }
  
  body {
    max-width: 960px;
    margin: 0 auto; /* Centers the page horizontally. */
    background: white;
  }
  
  h1, h2, h3, h4, h5, h6 { /* Targets a;; headings. */
    font-family: serif;
    color: #377ba8;
    margin: 1rem 0; /* Space above and below headings. */
  }
  
  a { /* Links. */
    color: #377ba8;
  }
  
  hr { /* Removes default hr style and replaces it w only a top border, thin light gray line. */
    border: none;
    border-top: 1px solid lightgray;
  }
  
  nav {
    background: lightgray;
    display: flex; /* Turns navbar into a flex container -> allows horizontal alignment. */
    align-items: center; /* Vertically centers items inside the nav. */
    padding: 0 0.5rem;
  }
  
  nav h1 {
    flex: auto;
    margin: 0;
  }
  
  nav h1 a { /* Removes underline from title link and adds padding. */
    text-decoration: none;
    padding: 0.25rem 0.5rem;
  }
  
  nav ul  {
    display: flex; 
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li a, nav ul li span, header .action { /* Makes links behave like blocks (so padding works properly). */
    display: block;
    padding: 0.5rem;
  }
  
  /* Content area. */

  .content { /* Adds space inside the content area. */
    padding: 0 1rem 1rem;
  }
  
  .content > header { /* > means direct child only. */
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: flex-end;
  }
  
  .content > header h1 {
    flex: auto;
    margin: 1rem 0 0.25rem 0;
  }
  
  .flash {
    margin: 1em 0;
    padding: 1em;
    background: #cae6f6;
    border: 1px solid #377ba8;
  }
  
  .post > header { /* Post header is slightly smaller and flex-aligned. */
    display: flex;
    align-items: flex-end;
    font-size: 0.85em;
  }
  
  .post > header > div:first-of-type { /* Selects the 1st <div> inside post header. */
    flex: auto;
  }
  
  .post > header h1 {
    font-size: 1.5em;
    margin-bottom: 0;
  }
  
  .post .about {
    color: slategray;
    font-style: italic;
  }
  
  .post .body {
    white-space: pre-line;
  }
  
  .content:last-child {
    margin-bottom: 0;
  }
  
  .content form {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
  }
  
  .content label {
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  
  .content input, .content textarea {
    margin-bottom: 1em;
  }
  
  .content textarea {
    min-height: 12em;
    resize: vertical;
  }
  
  input.danger { /* Used 4 delet buttons. */
    color: #cc2f2e;
  }
  
  input[type=submit] {
    align-self: start;
    min-width: 10em;
  }