{% extends 'base.html' %}

<!-- {% block title %} inside {% block header %}. 
 This will set the title block and then output the value of it into the header block, 
 so that both the window and page share the same title without writing it twice.-->
{% block header %}
    <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post"> <!-- Starts an html form (a form collects user input and sends it to the server.) Post request.-->
        <label for="username">Username</label> <!-- A label describes an input field.-->
        <input name="username" id="username" required>
        <!-- Creates a text input field. name="username" is the key Flask uses to read the data: request.form['username']. id="username" connects ti the label.-->

        <label for="password">Password</label> <!-- This label belongs to the element whose id is password. So the browser will look for id="password"-->
        <!-- What happens because of that connection?
            If you click the word “Password”, the cursor automatically jumps into the password box.-->
        <input type="password" name="password" id="password" required>
        <!-- type="password" instead of showing mypassword, it shows ......
         name= is how the data is sent to the server.-->

         <input type="submit" value="Register">
         <!-- type="submit" tells the browser: when this is clicked, send the form data to the server. -->
    </form>
{% endblock %}